<!DOCTYPE html>
<html>
  <head>
    <title>cart</title>
    <link rel="stylesheet" href="/profile.css" />
  </head>
  <body>
    <h1>Your Cart</h1>

<% if (cart.length === 0) { %>
  <p>Your cart is empty.</p>
<% } else { %>
  <ul>
    <% cart.forEach((item, index) => { %>
      <li>
        <strong><%= item.name %></strong> - $<%= item.price.toFixed(2) %>
        <form action="/cart/remove" method="POST" style="display:inline;">
          <input type="hidden" name="index" value="<%= index %>">
          <button type="submit">Remove</button>
        </form>
      </li>
    <% }) %>
  </ul>
<% } %>
 <button type="submit">Check Out</button>

 <a href="/"> <strong>Return Home</strong></a>
  </body>
</html>
