<!DOCTYPE html>
<html>
  <head>
    <title>FAQ form</title>
    <link rel="stylesheet" href="../public/style.css" />
  </head>
  <body>
    <div class="login-body">
      <h1>FAQ</h1>
      <form id="faqForm" class="faq-form" action="/faq" method="POST">
        
          <label for="question">Ask us anything:</label>
          <textarea name="question" id="question" placeholder="Type Question here..." required></textarea>

        <button class="btn" type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
